In [5]:
# Import necessary libraries
import pandas as pd
import json

# Load the CSV dataset
df = pd.read_csv("semi_strut.csv")

# Display the first few rows of the dataset
df.head()

   Document ID                                            Content
0            1  {\r\n   "title": "Introduction to Python",\r\n...
1            2  {\r\n   "title": "Data Analysis with Pandas",\...
2            3  {\r\n   "title": "Web Development with Flask",...
3            4  {\r\n   "title": "Machine Learning with Scikit...
4            5  {\r\n   "title": "Data Visualization with Matp...

In [103]:
# Tokenization function to extract terms from the JSON-like content
# Remember to exact both 
# 1 .Extract terms from various fields (title, keywords, and content)
values = df['Content'].values
dictionaries = []

print(type(values))

# convert 
for value in values:
    dictionaries.append(json.loads(value))

dictionaries
# 2. Extract terms from sections' titles and content


# 5. you can display the DataFrame
# def tokenize_content(content):

<class 'numpy.ndarray'>

[{'title': 'Introduction to Python',
  'author': 'John Doe',
  'date': '2023-01-15',
  'keywords': ['Python', 'programming', 'beginner'],
  'sections': [{'title': 'Getting Started',
    'content': 'Python is a versatile programming language...'},
   {'title': 'Basic Syntax',
    'content': 'Python syntax is easy to understand...'}]},
 {'title': 'Data Analysis with Pandas',
  'author': 'Jane Smith',
  'date': '2023-02-20',
  'keywords': ['Python', 'Pandas', 'data analysis'],
  'sections': [{'title': 'Introduction to Pandas',
    'content': 'Pandas is a popular library for data analysis...'},
   {'title': 'DataFrames',
    'content': 'DataFrames are a core data structure in Pandas...'}]},
 {'title': 'Web Development with Flask',
  'author': 'Mike Johnson',
  'date': '2023-03-10',
  'keywords': ['Python', 'Flask', 'web development'],
  'sections': [{'title': 'Getting Started with Flask',
    'content': 'Flask is a lightweight web framework for Python...'},
   {'title': 'Routing',
    'content': 'Routing in Flask defines URL patterns and views...'}]},
 {'title': 'Machine Learning with Scikit-Learn',
  'author': 'Emily Davis',
  'date': '2023-04-05',
  'keywords': ['Python', 'machine learning', 'Scikit-Learn'],
  'sections': [{'title': 'Introduction to Machine Learning',
    'content': 'Machine learning is a subfield of artificial intelligence...'},
   {'title': 'Supervised Learning',
    'content': 'Supervised learning is a type of machine learning...'}]},
 {'title': 'Data Visualization with Matplotlib',
  'author': 'Robert Clark',
  'date': '2023-05-20',
  'keywords': ['Python', 'Matplotlib', 'data visualization'],
  'sections': [{'title': 'Introduction to Matplotlib',
    'content': 'Matplotlib is a versatile library for data visualization...'},
   {'title': 'Creating Plots',
    'content': 'Plots can be created in Matplotlib using various functions...'}]}]

In [82]:
unique_terms = set()

for dictionary in dictionaries:
    # Find unique terms in 'title'
    for term_title in dictionary['title'].split():
        unique_terms.add(term_title)
    # Find unique terns in 'keyword'
    for term_keyword in dictionary['keywords']:
        unique_terms.add(term_keyword)
    for section in dictionary['sections']:
        for term_section_title in section['title'].split():
            unique_terms.add(term_section_title)
        for term_content in section['content'].split():
            unique_terms.add(term_content)

In [5]:
# Initialize an empty inverted index dictionary
# Build the inverted index

In [83]:
unique_terms

{'Analysis',
 'Basic',
 'Creating',
 'Data',
 'DataFrames',
 'Development',
 'Flask',
 'Getting',
 'Introduction',
 'Learning',
 'Machine',
 'Matplotlib',
 'Pandas',
 'Pandas...',
 'Plots',
 'Python',
 'Python...',
 'Routing',
 'Scikit-Learn',
 'Started',
 'Supervised',
 'Syntax',
 'URL',
 'Visualization',
 'Web',
 'a',
 'analysis...',
 'and',
 'are',
 'artificial',
 'be',
 'beginner',
 'can',
 'core',
 'created',
 'data',
 'data analysis',
 'data visualization',
 'defines',
 'easy',
 'for',
 'framework',
 'functions...',
 'in',
 'intelligence...',
 'is',
 'language...',
 'learning',
 'learning...',
 'library',
 'lightweight',
 'machine',
 'machine learning',
 'of',
 'patterns',
 'popular',
 'programming',
 'structure',
 'subfield',
 'syntax',
 'to',
 'type',
 'understand...',
 'using',
 'various',
 'versatile',
 'views...',
 'visualization...',
 'web',
 'web development',
 'with'}

In [87]:
# 3. Tokenize the content and create a new column "Terms"
# sort the unique terms set
unique_terms = sorted(unique_terms)
# convert the set to a new table
terms_df = pd.DataFrame(unique_terms, columns=["Terms"])
terms_df

               Terms
0           Analysis
1              Basic
2           Creating
3               Data
4         DataFrames
..               ...
66          views...
67  visualization...
68               web
69   web development
70              with

[71 rows x 1 columns]

In [105]:
# 4. Implement a preprocessing function that converts terms to lowercase, removes punctuation, and removes common stop words.
    # Create another new column "Terms_preprocessed"
lowercase_terms = set()
for term in unique_terms:
    lowercase_terms.add(term.lower())

rp_terms = set()
for term in lowercase_terms:
    temp_str = ''.join(letter for letter in term if letter.isalnum())
    rp_terms.add(temp_str)

clean_terms = set()
common_words = ["a", "an", "the", "this", "that", "is", "it", "to", "and", "are", "in", "of", "for", "be", "can"]
for term in rp_terms:
    if term in common_words:
        continue
    else:
        clean_terms.add(term)
clean_terms = sorted(clean_terms)

terms_preprocessed = pd.DataFrame(clean_terms, columns=["Terms_preprocessed"])
terms_preprocessed

   Terms_preprocessed
0            analysis
1          artificial
2               basic
3            beginner
4                core
5             created
6            creating
7                data
8        dataanalysis
9          dataframes
10  datavisualization
11            defines
12        development
13               easy
14              flask
15          framework
16          functions
17            getting
18       intelligence
19       introduction
20           language
21           learning
22            library
23        lightweight
24            machine
25    machinelearning
26         matplotlib
27             pandas
28           patterns
29              plots
30            popular
31        programming
32             python
33            routing
34        scikitlearn
35            started
36          structure
37           subfield
38         supervised
39             syntax
40               type
41         understand
42                url
43              using
44            various
45          versatile
46              views
47      visualization
48                web
49     webdevelopment
50               with

In [104]:
# Initialize an empty inverted index dictionary the extracted terms 
df.head()

inverted_index = {}
for term in terms_preprocessed:
    inverted_index[term] = set()
    for i, dictionary in enumerate(dictionaries):
        if term in dictionary['title']:
            inverted_index[term].add(i)

   Document ID                                            Content
0            1  {\r\n   "title": "Introduction to Python",\r\n...
1            2  {\r\n   "title": "Data Analysis with Pandas",\...
2            3  {\r\n   "title": "Web Development with Flask",...
3            4  {\r\n   "title": "Machine Learning with Scikit...
4            5  {\r\n   "title": "Data Visualization with Matp...

In [8]:
# perform boolean operations on postings lists for Boolean search operations
# 1. "Python" OR "Pandas"
# 2. "Python" AND "data"